* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(153, 209, 191);
    color: black;
}
/* Sets all sections in the header to be flex items */
header{
    display:flex;
    border-bottom: 10px solid gray;
}
/* Sets the width, font size, and alignment of the name section */
.header h1{
    width:20%;
    font-size: 3rem;
    text-align: center;
}

nav{
    width:70%;
}
/* Formats and aligns the content in the nav and makes the list items flex items */
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

nav ul li{
    font-size: 2rem;
    padding-top: 10%;
}
/* adds hover effects to contact me and nav sections */
nav ul li:hover, .contact-info a:hover{
    transform:scale(1.2)
}
/* general styling of entire main section */
main{
    margin: 2%;
    padding: 5%;
}
/* for every section in the row class, determines the spacing and makes the children elements flex items.
    Sangeetha, one of the tutors, helped me set up the page in this row format rather than how I had it previously */
.row{
    display: flex;
    gap:3%;
    padding-bottom: 4%;
    margin-bottom:3%;
    justify-content: space-evenly;
}
/* establishes, spacing, and alignment of the three sidebar classes */
.sidebar {
    width: 10%;
    text-align: center;
    padding:5%;
    border-right: 10px solid grey;
    font-size: 1.5rem;
}

/* establishes size and spacing for three main content sections and makes children elements flex items */
.section-content {
    display: flex;
    flex-direction: column;
    width: 85%;
    gap:2%;
}
/* causes headshot to take up 50% of parent container */
#my-pictures{
    display: flex;
    flex-direction: row;
    width: 50%;
}
/* causes actual headshot image to take up 100% of space allotted from parent section and styles edges */
#my-pictures img{
    border-radius: 15px;
    border: 3px solid black;
    width:100%;
}
/*this ID and the one below it return the flex-direction to row so that the project cards below the main project form a 2x2 grid */
#later-projects {
    display: flex;
    flex-direction: row;
    gap: 2%;
}

/* singles out the container for the last two project cards to alter flex-direction behavior */
#more-projects {
    display: flex;
    flex-direction: row;
    gap: 2%;
}

/* adds hover effects to the project cards in projects section */
#later-projects img:hover, #more-projects img:hover, #first-project img:hover{
    border: 3px solid red;
}

.project-cards {
    flex-wrap: wrap;
    width: 50%;
    max-width: 50%;
}
/* gives a border to project cards and ensures they take up 100% of space allotted to them */
.project-cards img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 3px solid black;
}
/* styles the container for the prework study guide project */
#first-project {
    width: 100%;
    height: 100%;
}
/* sizes and styles the prework study guide project */
#first-project img{
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 3px solid black;
}

/* Formats the shape and alignment of the contact me section */
.contact-info{
    display: flex;
    justify-content: space-between;
    padding-top: 10%
}
/* Formats the links found in the contact me section */
.contact-info a{
    font-size: 2rem;
}

/* Formats the titles of the project cards in the main section */
.section-content h4 {
    position: relative;
    bottom: 85px;
    left: 3px;
    border: 3px solid black;
    border-radius: 15px;
    text-align: center;
    font-size: 2rem;
}
/* changes the project cards to wrap in a column again when screen gets below 810px wide */
@media screen and (max-width: 810px){
    #more-projects{
        flex-direction:column;
    }
}

@media screen and (max-width: 810px){
    #later-projects{
        flex-direction:column;
    }
}