* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    font-size: 30px;
    color: darkblue;
    width:  80%;
    text-align: center;
    background-color: brown;
    display: inline-block
}

.nav {
    font-size: 18px;
    background-color: aquamarine;
    width: 20%;
    float: right;
    height: 148px
}

.nav ul li {
    display: inline;
    text-decoration: none;
    border:solid black;
    padding: 3px;
}

.sidebar {
    width: 20%;
    background-color: blueviolet;
    height: 777px;
    text-align: center;
    padding-top: 20px;
    float:left;
}

.about-me {
    width: 80%;
    background-color: cadetblue;
    float: right;
}

#my-photo {
    width:  20%;
    float: left;
}

#main-project {
    width: 49%;
    height: 530px;
    float:right;
}

.my-projects {
    width: 80%;
    background-color: cornflowerblue;
    float:right;
}

.my-projects img {
    width: 25%;
    display: inline-block;
}

.contact-me {
    background-color: deepskyblue;
    width: 80%;
    float:right;
}

.contact-me ul li {
    text-decoration: none;
    display: inline;
    border: solid black;
    margin: 20px;
    padding: 3px;
}
